<template>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-body">
                            <form @submit.prevent="login">
                                <div class="field">
                                    <label for="email">E-mail</label>
                                    <input type="text" class="input" v-model="email" id="email" placeholder="E-mail" autofocus required>
                                </div>
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input type="password" class="input" v-model="password" id="password" placeholder="Password" required>
                                </div>
                                <div class="field">
                                    <button class="button">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    // const firebase = require('firebase');
    // const firebaseui = require('firebaseui');

    export default {
        name: "Login",
        data() {
            return {
                email: '',
                password: ''
                // ui: null
            }
        },
        mounted() {
            // let ui = firebaseui.auth.AuthUI.getInstance();
            //
            // if ( !ui )
            //     this.ui = new firebaseui.auth.AuthUI(this.$firebase.auth());
            // else
            //     this.ui = ui;
            //
            // this.ui.start(this.$refs.auth_container, {
            //     signInOptions: [
            //         this.$firebase.auth.EmailAuthProvider.PROVIDER_ID
            //     ],
            //     // Other config options...
            // });
        },
        methods: {
            login() {
                this.logIn(this.email, this.password);
            }
        }
    }
</script>
<style></style>
<style src="firebaseui/dist/firebaseui.css"></style>