<template>
    <nav class="navbar is-fixed-top is-dark has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link
                    :to="$localePath"
                    class="navbar-item"
            >
                <img :src="$themeConfig.logo" :alt="$site.title" v-if="$themeConfig.logo">
                <span v-else>{{ $site.title }}</span>
            </router-link>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="$emit('toggle-sidebar')">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <NavLinks/>
    </nav>
</template>

<script>
    import NavLinks from './NavLinks.vue';

    export default {
        name: "Navbar",
        components: { NavLinks }
    }
</script>

<style scoped>
    .navbar-brand img {
        max-height: 26px;
    }
</style>
