<template>
    <div class="navbar-menu" v-if="userLinks.length || repoLink || ( hasOwnProperty('isAuthenticated') && isAuthenticated )">
        <div class="navbar-end">
            <template
                v-for="item in userLinks" >
                <DropdownLink
                        v-if="item.type === 'links'"
                        :item="item"
                />
                <NavLink v-else :item="item" />
            </template>
            <!-- repo link -->
            <a
                    v-if="repoLink"
                    :href="repoLink"
                    class="navbar-item"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                {{ repoLabel }}
                <OutboundLink/>
            </a>
            <a href="javascript:" class="navbar-item" v-if="hasOwnProperty('isAuthenticated') && isAuthenticated" @click="signOut">Cerrar sesión</a>
        </div>
    </div>
</template>

<script>
    import GetsSiteNavMixin from '../mixins/GetsSiteNav';
    import NavLink from './NavLink.vue';

    export default {
        components: { NavLink },
        mixins: [ GetsSiteNavMixin ],
        computed: {
            repoLink () {
                const { repo } = this.$site.themeConfig;
                if (repo) {
                    return /^https?:/.test(repo)
                        ? repo
                        : `https://github.com/${repo}`
                }
            },
            repoLabel () {
                if (!this.repoLink) return;
                if (this.$site.themeConfig.repoLabel) {
                    return this.$site.themeConfig.repoLabel
                }
                const repoHost = this.repoLink.match(/^https?:\/\/[^/]+/)[0];
                const platforms = ['GitHub', 'GitLab', 'Bitbucket'];
                for (let i = 0; i < platforms.length; i++) {
                    const platform = platforms[i];
                    if (new RegExp(platform, 'i').test(repoHost)) {
                        return platform
                    }
                }
                return 'Source'
            }
        }
    }
</script>

<style lang="scss">

</style>