<template>
    <div
            class="sidebar-item"
            :class="{ first, collapsable }"
    >
        <router-link
                :to="item.path"
                activeClass="is-active"
                class="sidebar-header sidebar-item"
                :class="{ open }"
        >
            {{ item.title }}
        </router-link>
        <!--<p-->
                <!---->
        <!--&gt;-->
            <!---->
            <!--&lt;!&ndash;<span&ndash;&gt;-->
                    <!--&lt;!&ndash;class="arrow"&ndash;&gt;-->
                    <!--&lt;!&ndash;v-if="collapsable"&ndash;&gt;-->
                    <!--&lt;!&ndash;:class="open ? 'down' : 'right'">&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--</p>-->

        <DropdownTransition>
            <div
                    ref="items"
                    class="sidebar-item"
                    v-if="open || !collapsable"
            >
                <template v-for="child in item.children"><SidebarLink :item="child"/></template>
            </div>
        </DropdownTransition>
    </div>
    <!--<div-->
        <!--class="sidebar-item"-->
        <!--:class="{ first, collapsable }"-->
    <!--&gt;-->
        <!--<router-link-->
            <!--:to="item.path"-->
            <!--class="sidebar-item"-->
            <!--activeClass="is-active"-->
            <!--:class="{ open }"-->
            <!--@click="$emit('toggle')"-->
        <!--&gt;-->
            <!--<span>{{ item.title }}</span>-->
            <!--&lt;!&ndash;<span&ndash;&gt;-->
            <!--&lt;!&ndash;class="arrow"&ndash;&gt;-->
            <!--&lt;!&ndash;v-if="collapsable"&ndash;&gt;-->
            <!--&lt;!&ndash;:class="open ? 'down' : 'right'">&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--</router-link>-->
        <!--&lt;!&ndash;<a&ndash;&gt;-->
            <!--&lt;!&ndash;:href="item.path ? item.path : 'javascript:'"&ndash;&gt;-->
            <!--&lt;!&ndash;class="sidebar-item"&ndash;&gt;-->
            <!--&lt;!&ndash;:class="{ open }"&ndash;&gt;-->
            <!--&lt;!&ndash;@click="$emit('toggle')"&ndash;&gt;-->
        <!--&lt;!&ndash;&gt;&ndash;&gt;-->


        <!--&lt;!&ndash;</a>&ndash;&gt;-->

        <!--<DropdownTransition>-->
            <!--<div-->
                <!--ref="items"-->
                <!--class="sidebar-menu"-->
                <!--v-if="open || !collapsable"-->
            <!--&gt;-->
                <!--<SidebarLink :item="child" v-for="(child, i) in item.children" :key="i"/>-->
            <!--</div>-->
        <!--</DropdownTransition>-->
    <!--</div>-->
</template>

<script>
    import SidebarLink from './SidebarLink.vue';
    import DropdownTransition from './DropdownTransition.vue';

    export default {
        name: 'SidebarGroup',
        props: ['item', 'first', 'open', 'collapsable'],
        components: { SidebarLink, DropdownTransition }
    }
</script>

<style lang="scss" scoped>
    .sidebar-header {
        padding: 1em calc(.825em - 2px) 1em .5em;
        width: 100%;
        font-weight: bold;
        color: #000;
    }
</style>