<template>
    <aside class="sidebar">
        <div class="sidebar-menu is-hidden-desktop">
            <template
                    v-for="item in userLinks" >
                <DropdownLink
                        class="sidebar-item"
                        v-if="item.type === 'links'"
                        :item="item"
                />
                <NavLink class="sidebar-item" v-else :item="item" />
            </template>
        </div>
        <slot name="top"/>
        <div class="sidebar-menu">
            <template v-for="(item, i) in items">
                <SidebarGroup
                        v-if="item.type === 'group'"
                        :item="item"
                        :first="i === 0"
                        :open="i === openGroupIndex"
                        :collapsable="item.collapsable || item.collapsible"
                        @toggle="toggleGroup(i)"
                />
                <SidebarLink v-else :item="item"/>
            </template>
        </div>
        <slot name="bottom"/>
    </aside>
</template>

<script>
    import GetsSiteNavMixin from '../mixins/GetsSiteNav';
    import NavLink from './NavLink.vue';
    import SidebarGroup from './SidebarGroup.vue';
    import SidebarLink from './SidebarLink.vue';
    import { isActive } from '../util';

    export default {
        name: "Sidebar",
        components: { NavLink,  SidebarGroup, SidebarLink },
        mixins: [ GetsSiteNavMixin ],
        props: ['items'],
        data () {
            return {
                openGroupIndex: 0
            }
        },
        created () {
            this.refreshIndex();
        },
        watch: {
            '$route' () {
                this.refreshIndex();
            }
        },
        methods: {
            refreshIndex () {
                const index = resolveOpenGroupIndex(
                    this.$route,
                    this.items
                );
                if (index > -1) {
                    this.openGroupIndex = index
                }
            },
            toggleGroup (index) {
                this.openGroupIndex = index === this.openGroupIndex ? -1 : index
            },
            isActive (page) {
                return isActive(this.$route, page.path)
            }
        }
    }

    function resolveOpenGroupIndex (route, items) {
        for (let i = 0; i < items.length; i++) {
            const item = items[i];
            if (item.type === 'group' && ( isActive(route, item.path) || item.children.some(c => isActive(route, c.path)) ) ) {
                return i
            }
        }
        return -1
    }
</script>

<style scoped>
    .sidebar {
        overflow-y: auto;
    }
</style>