<template>
    <div class="color-preview-item">
        <span class="color-preview" :style="previewStyles"></span>
        <code>{{ color }}</code>
    </div>
</template>

<script>
    export default {
        props: {
            color: {
                required: true
            }
        },
        name: "ColorPreview",
        computed: {
            previewStyles() {
                return {
                    backgroundColor: this.color
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .color-preview-item {
        display: flex;
        align-items: center;
    }

    .color-preview {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.1);
    }
</style>