<template>
    <div class="preview-wrapper">
        <div class="columns is-gapless">
            <div class="column is-6">
                <div class="preview-box" :class="previewClass">
                    <slot></slot>
                </div>
            </div>
            <div class="column is-6">
                <div class="explanation-box">
                    <slot name="explanation"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExampleViewer",
        props: {
            previewClass: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>

</style>