<template>
    <div
        class="theme-container"
        :class="pageClasses"
        @touchstart="onTouchStart"
        @touchend="onTouchEnd"
    >
        <template v-if="shouldShowContent">
            <Navbar @toggle-sidebar="toggleSidebar"/>

            <div
                class="sidebar-mask"
                @click="toggleSidebar(false)"
            ></div>

            <Sidebar
                :items="sidebarItems"
            />


            <div
                class="custom-layout"
                v-if="$page.frontmatter.layout"
            >
                <component :is="$page.frontmatter.layout"/>
            </div>

            <Home v-else-if="$page.frontmatter.home"/>

            <Page
                v-else
                :sidebar-items="sidebarItems"
            >
                <slot
                    name="page-top"
                    slot="top"
                />
                <slot
                    name="page-bottom"
                    slot="bottom"
                />
            </Page>
        </template>
        <Login v-else/>

    </div>
</template>

<script>
    import Navbar from '../components/Navbar.vue';
    import Sidebar from '../components/Sidebar.vue';
    import Home from '../components/Home.vue';
    import Page from '../components/Page.vue';
    import Login from '../components/Login';

    import { resolveSidebarItems } from '../util'

    export default {
        name: "Layout",
        components: { Navbar, Sidebar, Home, Page, Login },
        data () {
            return {
                isSidebarOpen: false
            }
        },
        mounted () {
            this.$router.afterEach(() => {
                this.isSidebarOpen = false
            });
        },
        methods: {
            toggleSidebar (to) {
                this.isSidebarOpen = typeof to === 'boolean' ? to : !this.isSidebarOpen
            },

            // side swipe
            onTouchStart (e) {
                this.touchStart = {
                    x: e.changedTouches[0].clientX,
                    y: e.changedTouches[0].clientY
                }
            },
            onTouchEnd (e) {
                const dx = e.changedTouches[0].clientX - this.touchStart.x;
                const dy = e.changedTouches[0].clientY - this.touchStart.y;
                if (Math.abs(dx) > Math.abs(dy) && Math.abs(dx) > 40) {
                    if (dx > 0 && this.touchStart.x <= 80) {
                        this.toggleSidebar(true)
                    } else {
                        this.toggleSidebar(false)
                    }
                }
            }
        },
        computed: {
            siteIsProtected() {
                return this.$themeConfig.firebase && this.$themeConfig.firebase.protectSite;
            },
            shouldShowContent() {
                return !this.siteIsProtected || ( this.siteIsProtected && this.isAuthenticated );
            },
            shouldShowSidebar () {
                const { frontmatter } = this.$page;
                return (
                    !frontmatter.layout &&
                    !frontmatter.home &&
                    frontmatter.sidebar !== false &&
                    this.sidebarItems.length
                )
            },
            pageClasses () {
                const userPageClass = this.$page.frontmatter.pageClass;
                return [
                    {
                        // 'no-navbar': !this.shouldShowNavbar,
                        'sidebar-open': this.isSidebarOpen,
                        'no-sidebar': !this.shouldShowSidebar
                    },
                    userPageClass
                ]
            },
            sidebarItems () {
                return resolveSidebarItems(
                    this.$page,
                    this.$route,
                    this.$site,
                    this.$localePath
                )
            },
        }
    }
</script>

<style src="prismjs/themes/prism-tomorrow.css"></style>
<style src="../styles/theme.scss" lang="scss"></style>
