%preview-box {
  position: relative;
  border: 2px solid #00e298;
  width: 100%;
  left: 0;
  padding: 2rem 1rem 1rem;
  overflow-x: auto;

  &::before {
    content: 'Example';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    font-size: .8rem;
    background-color: #00e298;
    padding: 0 5px;
    border-bottom-right-radius: 4px;
  }
}

.preview-box {
  @extend %preview-box;
}

.preview-wrapper {
  padding: 10px 0;

  .preview-box {
    min-height: 100%;
    border-bottom: none;

    .notification div {
      margin-bottom: 0 !important;
    }

    .card div {
      margin-bottom: 0 !important;
    }

    .card-image {
      margin: 0 !important;
    }

    .card-footer-item {
      margin: 0 !important;
    }
  }

  .explanation-box {
    min-height: 100%;
    //max-height: 800px;
    //overflow: auto;
    display: flex;
    flex-direction: column;

    & > div {
      flex: 1;
    }

    & > div [class*="language-"] {
      height: 100%;
    }

    & > div > p {
      margin: 0;
    }
  }

  [class*="language-"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  pre, pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.is-fullwidth {
    padding: 0 0 125px;
  }

  .preview-fullwidth {
    @extend %preview-box;
    position: absolute;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }

  .column {
    margin-bottom: 0 !important;
  }

  .column > p, .preview-block {
    border-radius: 3px;
    text-align: center;
    padding: 1.25rem 0;
    font-weight: 600;
    background-color: #f5f5f5;

    &.is-primary {
      background-color: #00e298;
    }

    &.is-info {
      background-color: rgb(0, 155, 239);
    }
  }

  .column code {
    background-color: rgba(255,255,255,.45);
  }

  @media (min-width: 769px) {
    .preview-box {
      border-bottom: 2px solid #00e298;;
      border-right: none;
    }

    [class*="language-"] {
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
    }
  }

}

.buttons-preview {
  .button {
    margin: 5px;
  }
}

.card-preview {
  background-color: #fafafa;
}