@import "~@fanxie/leaf-css/scss/utils/all";
@import ".vuepress/styles/palette.scss";
@import "~@fanxie/leaf-css/leaf";
@import ".vuepress/styles/index.scss";

//  Legacy
@import "code";
@import "toc";
@import "preview";

::selection {
  background: $accent; /* WebKit/Blink Browsers */
  color: #000;
}

::-moz-selection {
  background: $accent; /* Gecko Browsers */
  color: #000;
}

.section {
  padding: 5rem 1.5rem 2rem;
}

a.navbar-item {
  display: flex;
}

.content a {
  display: inline-flex;
}

.content a, a.navbar-item {
  align-items: center;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}

.page-nav, .content {
  max-width: 1024px;
  margin: 0 auto;
}

.page-nav {

  a {
    color: $accent;
    font-weight: bold;
  }

  .next {
    margin-left: auto;
  }
}

.content {

  div[class*="language-"] {
    position: relative;

    .highlight-lines {
      user-select: none;
      padding-top: 1.3rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      line-height: 1.4;
      .highlighted {
        background-color: rgba(0, 0, 0, 66%);
      }
    }

    .tag {
      display: inline;
      line-height: inherit;
      font-size: inherit;
      padding: 0;
      background-color: transparent;
    }
  }

  pre code {
    background-color: transparent;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    .header-anchor {
      display: none;
      position: absolute;
      right: calc(100%);
      padding-right: 5px;
      color: $accent;
    }

    &:hover .header-anchor {
      display: block;
      text-decoration: none;
    }
  }
  
  a:not(.button) {
    color: $accent;
    text-decoration: underline;
    font-weight: bold;
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaecef;
  padding: 15px 0;
}

.notification, .content div[class*="language-"] {
  //max-width: 740px;
  //margin: 0 auto;
}

.theme-container.sidebar-open .sidebar-mask {
  display: block;
}

.sidebar-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0,0,0,.1);
}

.sidebar {
  top: 3.125rem;
  z-index: 10;
}

.notification-body {
  max-width: 100%;
}

.section {
  position: relative;
}

@media (min-width: 1024px) {

  .sidebar-mask {
    display: none !important;
  }

  .theme-container.no-sidebar .sidebar {
    display: none;
  }

  .section {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

@media (max-width: 1023px) {
  .sidebar {
    top: 3.25rem;
    display: block;
    transform: translateX(-100%);
    transition: transform .2s ease,-webkit-transform .2s ease;
  }

  .theme-container.sidebar-open .sidebar {
    transform: translateX(0);
  }
}